body {
  height: 100vh;
}

div {
  text-align: center;
}

p {
  font-family: Gill Sans;
}

#canvas-holder {
  margin-top: 30px;
}

h1 {
  font-size: 100px;
  font-family: 'Bungee Inline', cursive;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  position: relative;
  top: 200px;
}

#startButton {
  background-color: #0c0;
  font-size: 30px;
  color: white;
  border-bottom: 5px #080 solid;
  border-right: 5px #080 solid;
  border-radius: 20px;
  margin-top: 300px;
}

#instructions {
  border-top: 15px red solid;
  border-bottom: 15px red solid;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

#instructionsButton {
  background-color: #c00;
  font-size: 30px;
  color: white;
  border-bottom: 5px #800 solid;
  border-right: 5px #800 solid;
  border-radius: 20px;
  margin-top: 300px;
}

#startScreen {
  background-image: url('images/home.png');
  padding-top: 40px;
  height: 100%;
}

#gameOver h2 {
  font-size: 100px;
  font-family: Impact;
  color: #FF0000;
  position: absolute;
  margin-left: 520px;
  margin-top: 300px;
  visibility: hidden;
}
